.Drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  max-width: 250px;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  z-index: 90;
  transform: translateX(0px);
  transition: .22s ease-in;
  box-shadow: 10px 0 10px 1px rgba(0, 0, 0, 0.2);
}

.Drawer.close {
  transform: translateX(-300px)
}

.Drawer p {
  font-weight: thin;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 15px;
}

.Drawer p:after {
  content: '';
  position: absolute;
  height: .5px;
  width: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #555;
}

.Drawer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.Drawer ul li {
  margin-bottom: 10px;
  text-align: center;
}

.Drawer ul li a{
  color: #23404b;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  position: relative;
  padding: 3px 6px;
  transition: .22s all;
  cursor: pointer;
}

.Drawer ul li a:after {
  content: '';
  position: absolute;
  height: .5px;
  width: calc(100% - 12px);
  bottom: 0;
  left: -50%;
  transform: translateX(0);
  background: #555;
  opacity: 0;
  transition: .3s all ease-in;
}

.Drawer ul li a:hover{
  color: #2c5364;
  letter-spacing: 6px;
}

.Drawer ul li:hover a:after{
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}