.Button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  color: #23404b;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  transition: .2s all;
  margin-right: 10px;
}

.Button:focus {
  outline: none;
}

.Button:focus {
  outline: none;
}

.Button:hover {
  cursor: pointer;
}

.Button:active {
  box-shadow: inset 0px 2px 3px rgba(0,0,0,.3);
}

.Button:disabled {
  background: #ccc;
  cursor: not-allowed;
  color: #9a9a9a
}

.Button:disabled.active {
  box-shadow: none;
}

.error {
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(30deg, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(30deg, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff
}

.success {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(-30deg, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-30deg, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  
}

.primary {
  color: #fff;
  background: #7F00FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(-30deg, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-30deg, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}