.AnswerItem {
  padding: 5px 10px;
  border-radius: 10px;
  color: #000;
  margin-bottom: 5px;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-size: 14px;
  border: 1px solid #bebebe
}

.AnswerItem:hover {
  border: 1px solid #000
}

.AnswerItem.success {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(-30deg, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-30deg, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border:none;
  padding: 6px 11px;
}

.AnswerItem.error {
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(30deg, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(30deg, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: none;
  padding: 6px 11px;
}
